@model Vidly.Models.Movie
@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
	<li>Name : @Model.Name</li>
	<li>Release Date: @Model.ReleaseDate.ToShortDateString()</li>
	<li>Genre: @Model.Genre</li>
	<li>Amount In Stock: @Model.NumInStock</li>
	<li>Date Added: @Model.DateAdded.ToShortDateString()</li>
</ul>

